html {
    background-image: url(../images/background.jpeg);

}



.navbar {
    background-color: rgba(117, 190, 218, 0.7 );
    margin-bottom: 30px;
    text-align: center;
}

#logo {
    color: white;
    text-align: center;
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: bolder;
}

#mainContainer {
    text-align: center;
}
#questionDiv{
    background-color: rgba(117, 190, 218, 0.7);
    font-weight: bolder;
}

.title{
    color: white;   
}

#outputBox{
    background-color: rgba(117, 190, 218, 0.7);
}
#journalEntry{
    overflow: auto;
    height: 400px;
}
#journalBox{
    background-color: rgba(117, 190, 218, 0.7);
}



